<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>
<body>
    master chart
    

    <div style="max-width: 800px;">
    <canvas id="masterChart"></canvas>
</div>
    <script>

        window.historyLabels = [];
        window.historyValues = [];
fetch('/api/temperature/history')
  .then(function(response) {
    return response.json();
  })
  .then(function(response) {
    var responseData = response;

    for(let i = 0; i< responseData.length; i++) {
        window.historyLabels[i] = responseData[i].date;
        window.historyValues[i] = responseData[i].average;
    }
    // window.historyLabels.unshift(0);
    // window.historyValues.unshift(0);


    // console.log(window.historyValues);
    var masterChart = new Chart(document.getElementById("masterChart"), {
    type: 'bar',
    data: {
      labels: window.historyLabels,
      datasets: [
        {
          label: "Temperature",
          backgroundColor: "#ce7322",
          data: window.historyValues
        }      
    ]
    },
    options: {
      title: {
        display: true,
        text: 'Recent Temperature, Light values'
      }
    }
});

  });

// console.log(window.historyLabels);
// console.log(window.historyValues);




    </script>
</body>
</html>
